

main {
    display: flex;
    margin-top:100px;
    overflow-x: scroll;
}

h1 {
    min-width: 60%;
    font-size: clamp(1.5rem, 20vw, 4rem);
    padding-left: .5em;
    padding-top: .5em;
    
    
}

 h1 span {
    display: block;
 }


.work-showcase {
    display: flex;
    height:60vh;
  
   width: max-content;
    background-color: red;
    margin-left: 15em;
}

article {
    background-color: blue;
    height:100%;
    aspect-ratio: 4/3;
    display:grid;
    grid-template-rows: 3fr 1fr;
   
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    padding: .5em;
    margin: .5em;
    height: 3em;

}

nav ul li {
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav img {
    height: 2em;
    width: auto;
}


img {
    width: 100%;
    height: 100%;
     object-fit: cover;
}